.contacts{
    height: 90vh;
    justify-content: center;
    align-items: center;
}

form h1{
    position: relative;
}

form h1::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 5px;
    background-color: #063848;
    right: 515px;
    bottom: -23px;
}

form h1::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 5px;
    background-color: #063848;
    left: 515px;
    bottom: -23px;
}



form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}
