<div class="container">
    <div class="row contacts">
        <form action="" class="text-center">
            <h1>CONATCT SECTION</h1>
            <i class="fa-solid fa-star"></i>
            <input type="text" placeholder="userName" class="d-block my-4 py-2 form-control w-50 mx-auto ">
            <input type="number" placeholder="userAge" class="d-block my-4 py-2 form-control w-50 mx-auto ">
            <input type="email" placeholder="userEmail" class="d-block my-4 py-2 form-control w-50 mx-auto ">
            <input type="password" placeholder="userPassword" class="d-block my-4 py-2 form-control w-50 mx-auto ">
            <button class="btn btn-info mx-auto d-block">Send Message</button>
        </form>
        
    </div>
</div>
