<div class="container port pb-5">
    <div id="layer" class="position-fixed top-0 w-100 h-100 start-0 z-3 bg-primary bg-opacity-25 d-none justify-content-center align-items-center">
            <img src="assets/images/port2.png" class="w-50" alt="">
    </div>
    <div class="port-header">
        <h1>PORTFOLIO COMPONENT</h1>
        <i class="fa-solid fa-star pb-4"></i>
    </div>
    <div class="row g-5">
        <div class="col-md-4 portes ">
            <div class="port-img">
                <img id="one" src="assets/images/poert1.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 portes ">
           
            <div class="port-img">
                <img src="assets/images/port2.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
                
            </div>
        </div>

        <div class="col-md-4 portes ">
            <div class="port-img">
                <img src="assets/images/port3.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 portes ">
            <div class="port-img">
                <img src="assets/images/poert1.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 portes ">
            <div class="port-img">
                <img src="assets/images/port2.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 portes ">
            <div class="port-img">
                <img src="assets/images/port3.png" class="rounded rounded-3 img-fluid" alt="">
                <div class="layer rounded rounded-3 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-10x text-white"></i>
                </div>
            </div>
        </div>
    </div>
</div>
