



<nav class="navbar navbar-expand-lg position-fixed w-100 py-4 z-3">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bolder" routerLink="home">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bolder fs-5 mx-2" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder fs-5 mx-2"routerLink="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder fs-5 mx-2"routerLink="contact">Contact</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<<router-outlet></router-outlet>


<footer class=" py-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>

      <div class="col-md-4 text-center">
        <h3>AROUND THE WEB</h3>
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="d-flex justify-content-center align-items-center mx-2">
            <i class="fa-brands fa-facebook"></i>
          </li>
          <li class="d-flex justify-content-center align-items-center mx-2">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="d-flex justify-content-center align-items-center mx-2">
            <i class="fa-brands fa-linkedin"></i>
          </li>
          <li class="d-flex justify-content-center align-items-center mx-2">
            <i class="fa-solid fa-globe"></i>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">ABOUT FREELANCER</h3>
        <p class="text-break text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>

    
  </div>
</footer>
<div class="text-center footer-copy py-2 ">
  <p>Copyright &copy; Your Website 2024</p>
</div>